.main{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  background-color: black;

}

span{
  background: linear-gradient(to right, rgb(34, 221, 231), rgb(237,4,125));
  font-size: 3vmax;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#aigif{
  width: 50vh;
  height: 100px;

}

#shifra{
  height: 70%;
    border-radius: 50%;

}

button{
  width: 180px;
  height: 40px;
  display:flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  border-radius: 20px;
  border:none;
  background-color: rgb(79,224,235);
  box-shadow: 2px 2px 20px  rgb(79,224,235) ;
}

#speak{
  
  width: 100px;
}
p{
  font-size: 1vmax;
  color:white;

}
.response{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px ;
}
